.h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(102, 18, 18);
    font-size:xx-large;
    font-weight: bolder;
    text-align: center;
}
.paragraph{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(49, 49, 214);
    font-size: larger;
   
    flex: 1;

}
body{
    background-color: azure;
}
